@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@300;400;500;600&display=swap');

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
}

#sidebar {
    margin-right: 5%;
    width: 20%;
}

.addUser {
    font-size: 40px;
    cursor: pointer;
}

.addUser:hover {
    opacity: 0.7;
}

.sidebarHeader {
    display: flex;
    align-items: center;
    color: #7e0202;
    margin: 0;
}

h2.sidebarHeader {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #7e0202;
    padding-left: 8px; 
    display: flex;
}

.sidebarEntry {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebarEntry:hover {
    background-color: #e7e7e7;
    color: rgb(73, 73, 73);
}

.hide {
    display: none;
}

.dropRightMenu {
    position: absolute;
    left: 23%;
    border: 1px solid black;
    background-color: rgb(255, 17, 17);
    border-radius: 5px;
}

.dragged {
    opacity: 0.5;
}

.assigned {
    text-decoration: line-through;
    cursor: default;
}

.delete-button {
    cursor: pointer;
}

.profile-icon {
    cursor: pointer;
}

.dropdownItem {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.adminEdit {
    width: 80%;
}

.default-icon {
    padding-right: 3px;
}

.modalTitle {
    font-family: "Ubuntu", sans-serif;
}

.sectionTitle {
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
    width: 100%;
    /* border-bottom: 0.5px solid gray; */
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.sectionTitle h5 {
    font-size: 19px;
}

.sectionTitle:hover {
    opacity: 0.75;
}

.section {
    padding: 10px;
}

.timeList {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 1px;
}

.section input[type=text] {
    border: none;
    width: 180px;
    /* background-color: red; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 1px;
    margin: 0;
    padding: 10px;
    border: none;
    margin-left: 20px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

.listItem {
    margin: 10px;
}

.drag-indicator {
    width: 14%;
}

.listEntry {
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    margin: 5px;
    border-radius: 3px;
    width: 250px;
    font-family: 'Lato', sans-serif;
    display: flex;
}

.rightListEntry {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    /* padding-left: 5px; */
    width: 66%;
}

.listEntryText {
    /* padding-left: 32px; */
}

.clearTime {
    color: #aa0e23;
    opacity: 0;
    /* width: 100%; */
    height: 100%;
    width: 20%;
}

.clearTime:hover {
    opacity: 1;
}

.addUserForm {
    padding: 10px;
}

label {
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

input[type="name"], input[type="email"], input[type="text"]  {
    border: none;
    padding: 5px 10px 5px 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    color: rgb(53, 53, 53);
    width: 200px;
}

input[type="name"]:focus, input[type="email"]:focus, input[type="text"]:focus {
    border-bottom: 2px solid rgb(172, 0, 0);
    border-radius: 0;
    box-sizing: border-box;
    background-color: rgb(255, 233, 233);
    transition: all 0.15s linear;
}

input[type="name"]:hover, input[type="email"]:hover, input[type="text"]:hover {
    background-color: rgb(255, 246, 246);
    /* border-radius: 5px; */
}

.addUserForm select {
    padding: 5px 10px 5px 10px;
    border: none;
    width: 200px;
}

.addUserForm select:hover {
    background-color: rgb(255, 246, 246);
    border-radius: 3px;
    border: 2px solid rgb(172, 0, 0);
    transition: all 0.1s linear;
}

input[type="name"].prefilledData , input[type="email"].prefilledData, input[type="text"].prefilledData {
    background-color: rgb(255, 246, 246);
}

select.prefilledData {
    padding: 5px 10px 5px 10px;
    border: none;
    width: 200px;
}

#formCanDrive {
    display: flex;
    align-items: center;
    
}

#formCanDrive label {
    cursor: pointer;
}

#formCanDrive

#defaultCheck1 {
    margin-left: 5px;
}

#sidebar select {
    border: 1px solid #f8f9fa;
    border-radius: 3px;
    background-color: #f8f9fa;
    font-family: 'Lato', sans-serif;
    color: #5c0000;
    padding-left: 3px;
    font-weight: bold;
    margin-left: 5px;
    width: 90%;
    cursor: pointer;
    -webkit-appearance: none; 
}

#sidebar select:hover {
    /* background-color: rgb(252, 252, 252); */
    opacity: 0.7;
}

.userProfileName {
    color: #990000;
}

.mobile-only {
    display: none;
}

.view-only {
    display: none;
}

.userSelectedBox {
    display: none;
}

@media (max-width: 576px) {
    .mobile-only {
        display: initial;
        width: 100%;
    }

    .not-desktop {
        display: none;
    }

    #main {
        width: 100%;
        flex-wrap: wrap;
        margin: 0;
    }

    #sidebar {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0;
        margin-bottom: 20px;
    }

    h2.sidebarHeader {
        font-size: 25px;
    }

    #sidebar select {
        font-size: 17px;
    }

    .addUser {
        font-size: 24px;
    }

    .buttonRow {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;    
    }

    .sidebarEntry:hover {
        background-color: inherit;
        color: inherit;
    }

    .leftUserEntry {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .sidebarEntryName {
        width: 200px;
    }

    .userSelectedBox {
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 4px;
        background-color: rgb(148, 148, 148);
        margin: 0;
        margin-right: 8px;
    }

    .userSelected {
        background-color: rgb(221, 169, 0);
    }

    .buttonRow button {
        margin: 5px;
    }

    .special-btn {
        margin: 0;
        width: 40%;
        
    }

    .sidebarEntry {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .adminEdit {
        width: 100%;
    }
}








